* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.news-list {
  background-color: lightskyblue;
}

.news {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  min-height: 40px;
}

.news__img {
  width: 60px;
  margin-left: -60px;
  padding-right: 10px;
}

.news_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header_add .add__img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.header_add {
  flex: 0 1 400px;
  background-color: lightskyblue;
}

.banner_add .add__img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.banner_container {
  background-color: lightskyblue;
  margin-bottom: 20px;
}

.list {
  margin-right: 20px;
  background-color: lightgreen
}

.search {
  max-width: 800px;
  width: 100%;
  background-color: lightcoral;
  margin-bottom: 20px;
}

.category_container {
  display: flex;
}